<div class="sidebar">
  <div class="news">
    <span>Latest News</span>
    <ul>
      <li>
        <a href="news.html">Lorem ipsum dolor sit</a> <span>Posted on 23 July 2023</span>
      </li>
      <li>
        <a href="news.html">Donec condimentum</a> <span>Posted on 23 July 2023</span>
      </li>
      <li>
        <a href="news.html">Nulla facilisi</a> <span>Posted on 23 July 2023</span>
      </li>
      <li>
        <a href="news.html">Nunc nec sem nisi</a> <span>Posted on 23 July 2023</span>
      </li>
      <li>
        <a href="news.html">Aliquam quam nulla</a> <span>Posted on 23 July 2023</span>
      </li>
      <li>
        <a href="news.html">Lorem ipsum dolor sit</a> <span>Posted on 23 July 2023</span>
      </li>
      <li>
        <a href="news.html">Donec condimentum</a> <span>Posted on 23 July 2023</span>
      </li>
    </ul>
    <a href="news.html">Read More</a>
  </div>
  <div class="section">
    <span>Game Schedule</span>
    <ul>
      <li>
        <a href="schedule.html">ZZTigers VS Alligaterz</a> <span>23 July 2023 @ 9AM</span>
      </li>
      <li>
        <a href="schedule.html">ZZTigers VS Ninjas</a> <span>23 July 2023 @ 9AM</span>
      </li>
      <li>
        <a href="schedule.html">ZZTigers VS Munkees</a> <span>23 July 2023 @ 9AM</span>
      </li>
      <li>
        <a href="schedule.html">ZZTigers VS Cheetaz</a> <span>23 July 2023 @ 9AM</span>
      </li>
      <li>
        <a href="schedule.html">ZZTigers VS AlienAnts</a> <span>23 July 2023 @ 9AM</span>
      </li>
    </ul>
    <a href="schedule.html">View Schedule</a>
  </div>
  <div>
    <span>Latest Tweets</span>
    <ul>
      <li>
        <p>
          <a href="#">Praesent urna odio, vehicula quis placerat nec, feugiat id purus. Proin vitae nibh in est molestie iaculis.</a>
        </p>
      </li>
      <li>
        <p>
          <a href="#">Nunc lacinia mi et quam eleifend ullamcorper scelerisque id tortor.</a>
        </p>
      </li>
      <li>
        <p>
          <a href="#">Mauris lobortis dolor ac ipsum fermentum nec placerat mauris  luctus.</a>
        </p>
      </li>
    </ul>
    <a href="http://freewebsitetemplates.com/go/twitter/">Follow @zztigers <br> on Twitter</a>
  </div>
</div>
