<div class="featured">
  <div>
    <h2>We Are The <br> Champions</h2>
    <p>
      Aliquam at neque diam. Nulla facilisi. Donec cursus lacus id urna mattis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
</div>
