<div>
  <div>
    <h3>Latest Videos</h3>
    <span><a href="videos.html">View More Videos</a></span>
    <ul>
      <li>
        <a href="videos.html"><img src="images/video1.jpg" alt=""></a>
        <h4>Proin pellentesque convallis sapien a congue.</h4>
        <p>
          Aliquam at neque diam. Nulla facilisi. Donec cursus lacus id urna mattis vestibulum.
        </p>
      </li>
      <li>
        <a href="videos.html"><img src="images/video2.jpg" alt=""></a>
        <h4>Lorem ipsum consectetur adipiscing elit.</h4>
        <p>
          Donec cursus lacus id urna mattis vestibulum. Turpis ac malesuada aliquet, est tellus blandit tellus, eu dignissim arcu diam non orci.
        </p>
      </li>
      <li>
        <a href="videos.html"><img src="images/video3.jpg" alt=""></a>
        <h4>Donec cursus lacus id urna mattis vestibulum.</h4>
        <p>
          Fusce sagittis, turpis ac malesuada aliquet, est tellus blandit tellus, eu dignissim arcu diam non orci.
        </p>
      </li>
    </ul>
  </div>
  <div>
    <h3>Featured</h3>
    <span><a href="news.html">View More Featured</a></span>
    <ul>
      <li>
        <a href="news.html"><img src="images/featured1.jpg" alt=""></a>
        <h4>Proin pellentesque convallis sapien a congue.</h4>
        <p>
          Aliquam at neque diam. Nulla facilisi. Donec cursus lacus id urna mattis vestibulum.
        </p>
      </li>
      <li>
        <a href="news.html"><img src="images/featured2.jpg" alt=""></a>
        <h4>Lorem ipsum consectetur adipiscing elit.</h4>
        <p>
          Donec cursus lacus id urna mattis vestibulum. Turpis ac malesuada aliquet, est tellus blandit tellus, eu dignissim arcu diam non orci.
        </p>
      </li>
      <li>
        <a href="news.html"><img src="images/featured3.jpg" alt=""></a>
        <h4>Donec cursus lacus id urna mattis vestibulum.</h4>
        <p>
          Fusce sagittis, turpis ac malesuada aliquet, est tellus blandit tellus, eu dignissim arcu diam non orci.
        </p>
      </li>
    </ul>
  </div>
</div>
