<footer class="footer">
    <div class="container">
        <nav>
            <p class="copyright text-center">
                ©
                <%= Time.zone.now.strftime("%Y") %>
                <a href="#">Le Duc Son & Ho Viet Hieu</a>, Football Bet.
            </p>
        </nav>
    </div>
</footer>
